<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <!-- First column: Profile Image, Name, and Skills -->
      <div class="col-lg-6">
        <img class="img-responsive" src="img/profile.png" alt="profile-pic" />
        <div class="intro-text">
          <span class="name">{{ site.title }}</span>
          <span class="skills">{{ site.skills }}</span>
        </div>
      </div>
      
      <!-- Second column: Bio -->
      <div class="col-lg-6">
        <p class="bio">
           Short bio	
	</p>
      </div>
    </div>
  </div>
</header>
