<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="intro-text">
        <span class="name">{{ site.title }}</span>
      </div>
      <!-- First column: Profile Image, Name, and Skills -->
      <div class="col-lg-6">
        <img class="img-responsive" src="img/profile.jpg" alt="profile-pic" />
      </div>
      
      <!-- Second column: Bio -->
      <div class="col-lg-6">
	<h3></h3> <!-- Title for the bio section -->
        <p class="bio" style="text-align: left; color: #800020;">
          <strong>About me</strong> <br> I am a postoctoral research fellow financed by the Italian Institute of High Mathematics (INdAM), and hosted by the research unit of Politecnico di Torino, in Italy. <br> 
          I work in the field of Numerical Analysis and on its application to biological, medical and earth science modeling.<br>
          My main research interests include mixed-dimensional problems, numerical optimization, immersed problems, and error estimation. <br><br>
          When you don't see me doing some maths you will probably find me on my balcony chatting with my flowers or hiking around the world with my backpack!
	</p>
      </div>
    </div>
  </div>
</header>
