<!-- Preprints Section -->
<section id="preprints">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
           <h2 class="text-center">Preprints</h2> <!-- Title for the Publications section, centered -->
      <br><br> 
       <ul class="publication-list">
        <li>A. Buffa, D. Grappein, R. Vázquez, <strong>Adaptive refinement in defeaturing
            problems via an equilibrated flux a posteriori error estimator</strong><br> arXiv (2025), <a href="https://doi.org/10.48550/arXiv.2503.19784">https://doi.org/10.48550/arXiv.2503.19784</a></li>
            <li>A. Arduino, O. Bottauscio, D. Grappein, S. Scialó, F. Vicini, U. Zanovello, L. Zilberti, <strong>3D-1D modelling of cranial plate heating
                    induced by low or medium frequency magnetic fields</strong><br> arXiv (2024), <a href="https://doi.org/10.48550/arXiv.2504.16600">https://doi.org/10.48550/arXiv.2504.16600</a></li>
            <li>S. Berrone, S. Ferraris, D. Grappein, G. Teora, F. Vicini, <strong>A 3D-1D
            Virtual Element Method for Modeling Root Water Uptake</strong> arXiv (2024), <a href="https://doi.org/10.48550/arXiv.2412.12884">https://doi.org/10.48550/arXiv.2412.12884</a></li>
            <!-- Add more publications here -->
          </ul>
        </div>
      </div>
    </div>
  </section>