<!-- Publications Section -->
<section id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
         <h2 class="text-center">Publications</h2> <!-- Title for the Publications section, centered -->
	<br><br> 
	 <ul class="publication-list">
		 <li>A. Buffa, O. Chanon, D. Grappein, R. Vázquez, M. Vohralı́k <strong>An equilibrated flux a posteriori error estimator for defeaturing problems</strong> SIAM Journal on Numerical Analysis, 62(6), 2439-2458, (2024), <a href="https://doi.org/10.1137/23M1627195">https://doi.org/10.1137/23M1627195</a></li>
          <li><strong>Publication Title 2</strong> - Brief description of the publication or where it was published.</li>
          <li><strong>Publication Title 3</strong> - Brief description of the publication or where it was published.</li>
          <!-- Add more publications here -->
        </ul>
      </div>
    </div>
  </div>
</section>
