<!-- Publications Section -->
<section id="publications">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
         <h2 class="text-center">Publications</h2> <!-- Title for the Publications section, centered -->
	<br><br> 
	 <ul class="publication-list">
		 <li>A. Buffa, O. Chanon, D. Grappein, R. Vázquez, M. Vohralı́k <strong>An equilibrated flux a posteriori error estimator for defeaturing problems</strong><br> SIAM Journal on Numerical Analysis, 62(6), 2439-2458, (2024), <a href="https://doi.org/10.1137/23M1627195">https://doi.org/10.1137/23M1627195</a></li>
		 <li>D. Grappein, S. Scialò, F. Vicini <strong>Extended finite elements for 3D–1D coupled problems via a PDE-constrained optimization approach</strong><br> Finite Elements in Analysis and Design, 239, (2024), <a href="https://doi.org/10.1016/j.finel.2024.104203">https://doi.org/10.1016/j.finel.2024.104203</a></li>
          <li>S. Berrone, C. Giverso, D. Grappein, L. Preziosi, S. Scialò<strong>An optimization based 3D-1D coupling strategy
			  for tissue perfusion and chemical transport during tumor-induced angiogenesis</strong><br> Computers and Mathematics with Applications, 151 (2023), <a href="https://doi.org/10.1016/j.camwa.2023.09.046">https://doi.org/10.1016/j.camwa.2023.09.046</a></li>
          <!-- Add more publications here -->
        </ul>
      </div>
    </div>
  </div>
</section>
