<!-- Teaching Section -->
<section id="teaching">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">Teaching</h2> <!-- Title for the section -->
        
        <p class="activity-description text-center"><strong>Activity as support lecturer</strong></p>
	<!-- Academic Year 1 -->
        <div class="academic-year">
          <h3>Academic Year 2024-2025</h3>
          <ul class="course-list">
            <li>
		    <strong> Modelli e metodi numerici</strong><br>
		    Master Degree in Mechanical Engineering, Politecnico di Torino<br>
              <strong>Language:</strong> Italian
            </li>
            <li>
              <strong> Metodi Numerici e Calcolo Scientifico</strong><br>
              Master Degree in Aerospace Engineering, Politecnico di Torino<br>
                    <strong>Language:</strong> Italian
                  </li>
          </ul>
        </div>
        <!-- Add more Academic Year sections here as needed -->
        <div class="academic-year">
          <h3>Academic Year 2023-2024</h3>
          <ul class="course-list">
            <li>
		    <strong> Modelli e metodi numerici</strong><br>
		    Master Degree in Mechanical Engineering, Politecnico di Torino<br>
              <strong>Language:</strong> Italian
            </li>
          </ul>
        </div>
        <div class="academic-year">
          <h3>Academic Year 2022-2023</h3>
          <ul class="course-list">
            <li>
		    <strong> Metodi Numerici e Calcolo Scientifico</strong><br>
		    Master Degree in Aerospace Engineering, Politecnico di Torino<br>
              <strong>Language:</strong> Italian
            </li>
          </ul>
        </div>
        <div class="academic-year">
          <h3>Academic Year 2021-2022</h3>
          <ul class="course-list">
            <li>
		    <strong> Modelli e metodi numerici</strong><br>
		    Master Degree in Mechanical Engineering, Politecnico di Torino<br>
              <strong>Language:</strong> Italian
            </li>
            <li>
              <strong> Numerical modelling</strong><br>
              Master Degree in Mechanical Engineering , Politecnico di Torino<br>
                    <strong>Language:</strong> English
                  </li>
          </ul>
        </div>
        <div class="academic-year">
          <h3>Academic Year 2020-2021</h3>
          <ul class="course-list">
            <li>
		    <strong> Modelli e metodi numerici</strong><br>
		    Master Degree in Mechanical Engineering, Politecnico di Torino<br>
              <strong>Language:</strong> Italian
            </li>
            <li>
              <strong> Numerical modelling</strong><br>
              Master Degree in Mechanical Engineering , Politecnico di Torino<br>
                    <strong>Language:</strong> English
                  </li>
          </ul>
        </div>
        <div class="academic-year">
          <h3>Academic Year 2019-2020</h3>
          <ul class="course-list">
            <li>
		    <strong> Modelli e metodi numerici</strong><br>
		    Master Degree in Mechanical Engineering, Politecnico di Torino<br>
              <strong>Language:</strong> Italian
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
