<!-- Teaching Section -->
<section id="teaching">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 class="text-center">Teaching</h2> <!-- Title for the section -->
        
        <p class="activity-description text-center"><strong>Activity as support lecturer</strong></p>
	<!-- Academic Year 1 -->
        <div class="academic-year">
          <h3>Academic Year 2024-2025</h3>
          <ul class="course-list">
            <li>
              </strong> Modelli e metodi numerici<br>
              Master Degree in Mechanical Engineering (Politecnico di Torino)
              <strong>Language:</strong> Italian
            </li>
          </ul>
        </div>
        <!-- Add more Academic Year sections here as needed -->
      </div>
    </div>
  </div>
</section>
